//Шрифты
//==========================================================================================

//Подключаю шрифты
//==========================================================================================
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,700&display=swap&subset=cyrillic-ext);
//@import "fonts";

//Стандартный шрифт
//==========================================================================================
$fontfamily: "Noto Sans";

//Переменные
//==========================================================================================
$min-width: 320px;
$maxWidth: 1170;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//Обнуление и общее
//==========================================================================================
* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
aside,
nav,
footer,
header,
section {
   display: block;
}
html,
body {
   height: 100%;
   margin: 0;
   padding: 0;
   $min-width: $min-width;
   position: relative;
   width: 100%;
   color: #000;
}
body {
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   font-weight: 500;
   font-family: Noto Sans;
   color: #000;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   &.lock {
      overflow: hidden;
      @media (max-width: $md3+px) {
         width: 100%;
         position: fixed;
         overflow: hidden;
      }
   }
}
input,
button,
textarea {
   font-family: $fontfamily;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
   color: #000;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

//Стандарт
//==========================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

//Экран
//==========================================================================================
._container {
   max-width: $maxWidthContainer + px;
   margin: 0px auto;
   @media (max-width: $md1 + px) {
      max-width: 970px;
   }
   @media (max-width: $md2 + px) {
      max-width: 750px;
      margin-right: 0;
   }
   @media (max-width: $md3 + px) {
      max-width: none;
      padding: 0 10px;
   }
}

//Основа
//==========================================================================================

//HEADER
.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;

   &__content {
      width: 100%;
      max-width: 1182px;
      padding: 0px 6px;
      display: flex;
      min-height: 56px;
      align-items: center;
   }

   &__menu {
      display: flex;
      align-items: center;
   }
}

.header-block {
   &__description {
      margin-bottom: 10px;
   }
}

//FOOTER
.footer {
   &__content {
      flex: 1 1 auto;
      padding: 20px 0;
      background: rgba(104, 97, 97, 0.205);
      line-height: 171%;
   }
   &__container {
      color:#2f80ed;
      text-align: center;
   }

   &__copyright {
      letter-spacing: 0.2px;
   }
}



//MENU
.menu {
   &__list {
      display: flex;

   }
   &__item {
      margin: 0px 0px 0px 20px;
   }
   &__link {
      font-size: 20px;
      font-weight: 500;
   }
}

//ICON
.icon {
   &__language {
      text-align: center;
      max-width: 25px;
      padding-right: 2px;
      margin: auto;
   }
   &__social {
      max-width: 30px;
      transition: background-color 0.3s ease 0s;
      @media (min-width: 992px) {
         &:hover {
            border-radius: 30%;
            background: rgba(0, 0, 0, 0.815);
         }
      }
   }
   &__project {
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      max-width: 25%;
   }
}

//CONTAINER
._container {
   max-width: 1182px;
   margin: 0px auto;
}

//CARD
.card {
   &__container {
      display: flex;
      //background-color: #262C31;
   }
   &__backgorund {
      //padding: 0 0 10px;
      margin: 60px 0px 10px 0px;
      flex: 1 1 auto;
      width: 100%;
      background-color: rgba(104, 97, 97, 0.205);
      //border-radius:30px;
   }
   &__avatar {
      //flex: 0 0 100px;
      width: 180px;
      height: 180px;
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
      padding: 10px;
      img {
         text-align: center;
         border-radius: 50%;
         max-width: 100%;
         border: 3px solid black;
      }
   }
   &__info {
      text-align: center;
      font-size: 44px;
      margin: auto;
      font-weight: 700;
      color: #2f80ed;
      line-height: 60 / 44 * 100%;
   }
   &__social {
      padding: 10px 10px 10px 10px;
      text-align: center;
   }
}

//MAIN
.main {
   flex: 1 1 auto;
}

//HEADER-BLOCK
.header-block {
   text-align: center;
   letter-spacing: 0.2px;
}

.header-block__title {
   font-size: 40px;
   line-height: 142%;
   padding: 20px;
   text-decoration: underline;
   text-transform: uppercase;
}

.header-block__description {
   display: flex;
   font-size: 17px;
   text-align: center;
   line-height: 142%;
}

.header-blockTitle__title {
   display: flex;
   flex-direction: column;
   font-size: 40px;
   line-height: 142%;
   justify-content: space-between;
   text-decoration: underline;
   text-transform: uppercase;
   text-align: left;
   align-items: flex-start;
   padding-top: 40px;
}

.header-blockInfo__description {
   display: flex;
   font-size: 17px;
   line-height: 142%;
   padding-left: 400px;
   align-items: flex-end;
}

.header-block__list {
   list-style-type: disc;
   padding-bottom: 10px;
}

//PROJECT

.project {
   &__body {
      text-align: center;
   }
   &__column{
      display: flex;
      flex: 0 1 33.3%;
      justify-content: space-between;
      align-items: center;
   }
}

.experience {
   &____container {
      display: flex;
   }
}
