@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,700&display=swap&subset=cyrillic-ext);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  font-family: Noto Sans;
  color: #000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: "Noto Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 856px;
  margin: 0px auto;
}

@media (max-width: 868px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
    margin-right: 0;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__content {
  width: 100%;
  max-width: 1182px;
  padding: 0px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-block__description {
  margin-bottom: 10px;
}

.footer__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 30px 0;
  background: rgba(104, 97, 97, 0.205);
  height: 1em;
}

.footer__container {
  color: #2f80ed;
  text-align: center;
}

.footer__copyright {
  letter-spacing: 0.2px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin: 0px 0px 0px 20px;
}

.menu__link {
  font-size: 20px;
  font-weight: 500;
}

.icon__language {
  text-align: center;
  max-width: 25px;
  padding-right: 2px;
  margin: auto;
}

.icon__social {
  max-width: 30px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

@media (min-width: 992px) {
  .icon__social:hover {
    border-radius: 30%;
    background: rgba(0, 0, 0, 0.815);
  }
}

.icon__project {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 25%;
}

._container {
  max-width: 1182px;
  margin: 0px auto;
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__backgorund {
  margin: 60px 0px 10px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  background-color: rgba(104, 97, 97, 0.205);
}

.card__avatar {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.card__avatar img {
  text-align: center;
  border-radius: 50%;
  max-width: 100%;
  border: 3px solid black;
}

.card__info {
  text-align: center;
  font-size: 44px;
  margin: auto;
  font-weight: 700;
  color: #2f80ed;
  line-height: 136.36364%;
}

.card__social {
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}

.header-block__title {
  font-size: 40px;
  line-height: 142%;
  padding: 20px;
  text-decoration: underline;
  text-transform: uppercase;
}

.header-block__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  text-align: center;
  line-height: 142%;
}

.header-blockTitle__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 40px;
  line-height: 142%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 40px;
}

.header-blockInfo__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  line-height: 142%;
  padding-left: 400px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-block__list {
  list-style-type: disc;
  padding-bottom: 10px;
}

.project__body {
  text-align: center;
}

.project__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3%;
          flex: 0 1 33.3%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience____container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
